//Colors
$purple: #8F2D56;
$yellow: #FFBC42;
$pink: #D81159;
$green: #218380;
$white: #fff;

//Navigation colors
$nav-background: $purple;
$nav-text-color: $yellow;
$nav-link-color: $white;

//Clock
$clock-text-color: $white;
$clock-bg-color: $green;
$clock-border-color: $pink;
